.contact-outer {
    display: flex;
    justify-content: center;
    margin-top: 25vh;
}
.contact1 input {
    width: 300px;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    border: none;
    box-shadow: 1px 1px 10px 1px black;
}
.contact1 a {
    width: 300px;
    padding: 10px;
    border-radius: 5px;
    margin: 10px;
    text-decoration: none;
    color: white;
    background-color: #212429;
}
.contact1 a:hover {
    transform: scale(1.05);
}
#message input {
    height: 15vh;
}
.contact1 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.contact-info {
    display: flex;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 1px 1px 20px 1px black;
}
.contact2 {
    background-color: #212429;
    color: whitesmoke;
    padding: 10px;
    border-radius: 5px;
}
.to-inline {
    margin-top: 20px;
}
.to-inline a {
    text-decoration: none;
    color: white;
}
@media (max-width: 768px) {
    .contact-info {
        display: flex;
        flex-direction: column;
    }
    .contact-outer {
        margin-top: 10vh;
    }
}
